/*    ####################################  HTML PAGE #############################       */
.body {
  margin: 0px;
  width: 1440px;
  border: 1px solid red;
}
/*    ####################################      NavBar #############################       */
.Nav {
  display: flex;
  justify-content: space-between;
}
.Log {
  display: flex;
  gap: 10px;
  align-items: center;
}
.LoginIn {
  margin-left: 20px;
  width: 70px;
  height: 50px;
  border-radius: 25%;
  border: none;
  background-color: #c6a560;
  margin-right: 10px;
  color: white;
}
/*    ####################################      Screen 1 #############################       */
.screen1 {
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  gap: 50px;
}
.screen1Button {
  height: 50px;
  width: 120px;
  background-color: #c6a560;
  border-radius: 30px;
  border: none;
  color: white;
}
/*    ####################################      Screen 2 #############################       */
.Screen2 {
  display: flex;
  padding: 75px 85px 75px 85px;
  justify-content: space-between;
  background-color: #ececec;
}
.image {
  width: 45%;
  height: 485px;
}

.Screen2_2sd {
  width: 45%;
}
.Screen2_2sd_Button {
  border-radius: 45px;
  border: 1px solid #c6a560;
  background-color: white;
  color: #c6a560;
  width: 180px;
  height: 30px;
}
/*    ####################################      Screen 3 #############################       */
.Screen3 {
  padding: 0px 100px 100px 100px;
  background-color: #ececec;
}
.Screen3_Text {
  margin: 0px;
}
.ServicesLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}
.ServicesLayout > * {
  background-color: #ffffff;
  width: 380px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.ServicesImage {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.ServicesLayout_Button {
  border: #c6a560 1px solid;
  border-radius: 45px;
  background-color: #c6a560;
  color: white;
  width: 80%;
  height: 45px;
}
/*    ####################################      Screen 5 #############################       */
.Screen5 {
  padding: 0px 100px 100px 100px;
  background-color: #ececec;
}
.Screen5_Layout {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.Screen5_Layout > * {
  display: flex;
  background-color: #ffffff;
  width: 25%;
  flex-direction: column;
  gap: 20px;
}
